{% extends 'admin/header.html' %} {% load static %} {% block page_styles %}
<link rel="stylesheet" href="{% static 'styles/admin_panel/orders_style.css' %}"> {% endblock %} {% block page_content %}
<section class="main">
    <div class="container">
        <h4 class="display-4" style="text-align:center;margin-top:50px">Operator Qo'shish</h4>
        <form action="" method="post" style="border: 1px solid #dee2e6;
        padding: 15px;
        margin-top: 20px;">
            <input type="hidden" name="csrfmiddlewaretoken" value="G3I9IhgcF1tyvxEN7cvZgdz7pZi0rdbflxPaGHh7HyPONx6NuPIOuOUpTDf3nOzV">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Operator Raqami</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="operator_number" name="operator_number" autocomplete="off" placeholder="Operator Raqami" required="">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Operator Paroli</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="operator_password" autocomplete="off" id="operator_password" placeholder="Operator Paroli" required="">
                </div>

            </div>
            <button type="submit" class="btn btn-success btn-block" style="width: 100%;">Qo'shish</button>
        </form>

        <div style="margin-top:10px;margin-bottom:20px" class="table-responsive">
            <table class="table">
                <thead class="text-center">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Yangi</th>
                        <th scope="col">Qabul qilindi</th>
                        <th scope="col">Yetkazilmoqda</th>
                        <th scope="col">Keyin Oladi </th>
                        <th scope="col">Arxiv </th>
                        <th scope="col">Yetqazib berildi</th>
                        <th scope="col">Qayta Qo'ng'iroq</th>


                    </tr>
                </thead>
                <tbody class="text-center">


                    {% for admin_id, admin_data in table.items %}
                    <tr>
                        <th> {{admin_id}}</th>
                        <td> {{admin_data.orders_len_1}} </td>
                        <td> {{admin_data.orders_len_2}} </td>
                        <td> {{admin_data.orders_len_3}} </td>
                        <td> {{admin_data.orders_len_6}} </td>
                        <td> {{admin_data.orders_len_8}} </td>
                        <td> {{admin_data.orders_len_4}} </td>
                        <td> {{admin_data.orders_len_7}} </td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
</section>
{% endblock %}