{% extends 'admin/header.html' %} {% load static %} {% block page_styles %}
<link rel="stylesheet" href="{% static 'styles/admin_panel/orders_style.css' %}"> {% endblock %} {% block page_content %}
<section class="main">

    <form action="" method="get">
        {% csrf_token %}
        <div class="container">
            <br>
            <br>
            <h3 class="text-center display-4"> Barcha buyurtmalar </h3>
            <br>

            <div class="container market-search-form">
                <div data-request="onMarketSearch" data-request-update="'admin/market-products': '#marketProductsList'" data-request-flash="" class="input-group mb-0 px-2">

                    <div class="input-group-prepend">
                        <button class="btn btn-info" style="border: 1px solid #ddd" type="button" onclick="$('.market-search-input').val(''); $('.market-search-input').submit()" id="button-addon1">X</button>
                    </div>

                    <input type="text" class="form-control market-search-input" name="searchById" placeholder="ID bo'yicha qidiruv" aria-label="ID bo'yicha qidiruv" data-request-update="'admin/market-products': '#marketProductsList'" aria-describedby="button-addon2" data-request="onMarketSearch"
                        data-track-input="500" data-request-flash="">

                    <div class="input-group-append">
                        <button class="btn btn-primary" data-attach-loading="" type="submit" id="button-addon2">Izlash</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="container market-search-form" style="margin-top:20px">
            <div data-request="onMarketSearch" data-request-update="'admin/market-products': '#marketProductsList'" data-request-flash="" class="input-group mb-0 px-2">

                <div class="input-group-prepend">
                    <button class="btn btn-info" style="border: 1px solid #ddd" type="button" onclick="$('.market-search-input').val(''); $('.market-search-input').submit()" id="button-addon1">X</button>
                </div>

                <input type="number" class="form-control market-search-input" name="searchByPhone" placeholder="Raqam bo'yicha qidiruv" aria-label="Raqam bo'yicha qidiruv" data-request-update="'admin/market-products': '#marketProductsList'" aria-describedby="button-addon2"
                    data-request="onMarketSearch" data-track-input="500" data-request-flash="">

                <div class="input-group-append">
                    <button class="btn btn-primary" data-attach-loading="" type="submit" id="button-addon2">Izlash</button>
                </div>
            </div>

        </div>


        <div class="container">
            <select style="margin-top:20px;" id="filter" class="form-control" name="filter">
                <option value="">Filtrlash</option>
                <option value="1">Yangi</option>
                <option value="2">Qabul qilindi</option>
                <option value="3">Yetkazilmoqda</option>
                <option value="4">Yetqazib berildi</option>
                <option value="5">Qaytib kelgan</option>
                <option value="6">Keyin Oladi</option>
                <option value="7">Qayta Qongiroq</option>
                <option value="8">Arxiv</option>
                <option value="9">Dubl</option>
                <option value="10">Ban</option>
            </select>


            <select style="margin-top:20px;" id="viloyatFilter" class="form-control" name="region">
                <option val="">Viloyat</option>
                <option value="Hammasi">Hammasi</option>
                <option value="Toshkent">Toshkent</option>
                <option value="Toshkent viloyati">Toshkent viloyati</option>
                <option value="Buxoro">Buxoro</option>
                <option value="Navoiy">Navoiy</option>
                <option value="Samarqand">Samarqand</option>
                <option value="Jizzax">Jizzax</option>
                <option value="Andijon">Andijon</option>
                <option value="Farg`ona">Farg`ona</option>
                <option value="Namangan">Namangan</option>
                <option value="Sirdaryo">Sirdaryo</option>
                <option value="Qoraqalpog`iston">Qoraqalpog`iston</option>
                <option value="Xorazm">Xorazm</option>
                <option value="Qashqadaryo">Qashqadaryo</option>
                <option value="Surxondaryo">Surxondaryo</option>
            </select>
        </div>
    </form>
    <div class="container-fluid">
        <div style="display:none;justify-content: center; margin-top: 20px;" class="text-center spin">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Kutib turing...</span>
            </div>
        </div>
        <br>
        <!-- <div class="container">
            <input type="date" id="date" class="form-control">
        </div> -->
        <h4 class="text-center display-4" style="text-align:center;margin-top:10px">Jami: {{count_of_orders}}</h4><br>

        <div class="container">
            <button data-toggle="modal" data-target="3" class="btn btn-danger change_statsu">Yetkazilmoqda</button>
            <button data-toggle="modal" data-target="4" class="btn btn-danger change_statsu">Yetqazib berildi</button>
        </div>

        <div class="row" style="margin-bottom: 50px;">

            {% for order in orders %}
            <div class="col-lg-6 orderi">
                <div class="card card-margin" style="background-color:#ebf4f8;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                    <div class="card-header no-border">
                        {% if order.status == "1" %}
                        <h5 class="card-title">Yangi</h5>
                        {% elif order.status == "2" %}
                        <h5 class="card-title">Qabul qilind</h5>
                        {% elif order.status == "3" %}
                        <h5 class="card-title">Yetkazilmoqda</h5>
                        {% elif order.status == "4" %}
                        <h5 class="card-title">Yetqazib berildi</h5>
                        {% elif order.status == "5" %}
                        <h5 class="card-title">Qaytib kelgan</h5>
                        {% elif order.status == "6" %}
                        <h5 class="card-title">Keyin Oladi</h5>
                        {% elif order.status == "7" %}
                        <h5 class="card-title">Qayta Qongiroq</h5>
                        {% elif order.status == "8" %}
                        <h5 class="card-title">Arxiv</h5>
                        {% elif order.status == "9" %}
                        <h5 class="card-title">Dubl</h5>
                        {% elif order.status == "10" %}
                        <h5 class="card-title">Ban</h5>
                        {% endif %}
                        <input style="font-size:50px" type="checkbox">
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day">{{order.order_id}}</span>
                                </div>
                                <div class="widget-49-meeting-info">
                                    <span class="widget-49-pro-title" style="font-weight:bold">{{order.product.title}}</span>
                                    <span class="widget-49-meeting-time">{{ order.cr_on }}</span>
                                </div>
                            </div>
                            <hr>
                            <ul class="widget-49-meeting-points">
                                <li class="widget-49-meeting-item"><span><i style="color:#4e73e5" class="fa-solid fa-user"></i><b style="color:#4e73e5">  Viloyat:</b> <span style="color:#333;font-weight:bold">{{order.region}}</span></span>
                                </li>
                                <hr>
                                <li class="widget-49-meeting-item"><span><i style="color:#4e73e5" class="fa-solid fa-user"></i><b style="color:#4e73e5">  Mijoz ismi:</b> <span style="color:#333;font-weight:bold">{{order.user_name}}</span></span>
                                </li>
                                <hr>
                                <li class="widget-49-meeting-item"><span><i style="color:#4e73e5" class="fa-solid fa-phone"></i><b style="color:#4e73e5"> Mijoz raqami:</b> <a style="color:blue;text-decoration:underline" href="tel:{{order.user_phone_number}}">{{order.user_phone_number}}</a></span></li>
                                <hr>
                                <li class="widget-49-meeting-item"><span><i style="color:#4e73e5" class="fa-solid fa-headset"></i><b style="color:#4e73e5"> Operator:</b> <a style="color:blue;text-decoration:underline">{{order.operator}}</a></span></li>
                                <hr>
                                <li class="widget-49-meeting-item"><span><i style="color:#4e73e5" class="fa-solid fa-dollar-sign"></i><b style="color:#4e73e5">  Qo'yilgan narx:</b> <span style="color:#333;font-weight:bold">{{order.product.amount}} so'm</span></span>
                                </li>
                                <hr>
                                <li class="widget-49-meeting-item"><span><b style="color:#4e73e5"> Soni:</b> <a style="color:blue;text-decoration:underline">{{order.count_of_products}}</a></span></li>
                                <hr>
                                <li class="widget-49-meeting-item"><span><i style="color:#4e73e5" class="fa-solid fa-user"></i><b style="color:#4e73e5">  Izoh:</b> <span style="color:#333;font-weight:bold">{{order.comment}}</span></span>
                                </li>
                                <hr>
                                <li class="widget-49-meeting-item"><span><i style="color:#4e73e5" class="fa-solid fa-user"></i><b style="color:#4e73e5">  Admin:</b> <!--<a href="/adminpage/">--><span style="color:#333;font-weight:bold">{{order.admin}}</span>
                                    <!--</a>-->
                                    </span>
                                </li>
                                <hr>
                                <li class="widget-49-meeting-item"><span></span></li>
                            </ul>
                            <div class="widget-49-meeting-action">
                                <p href="#" style="margin-top:10px" data-toggle="modal" id="changeStatus" data-id="{{order.order_id}}" data-op="0" data-target="#status" class="btn btn-secondary changeStatus">Statusni O'zgartirish</p>
                                <p style="margin-top:10px" href="#" id="openReq" data-id="{{order.order_id}}" data-toggle="modal" data-target="#oqim" class="btn btn-primary openReq">Batafsil</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- <div class="container" style="justify-content:center;display:flex;margin-bottom:20px">
                <a><button class="btn btn-primary btn-block">Hammasini yuklash</button></a>
            </div> -->




</section>

{% endblock %} {% block page_scripts %}
<script>
    const statuses = document.querySelectorAll('.change_statsu');
    for (let i = 0; i < statuses.length; i++) {
        statuses[i].addEventListener('click', () => {
            let selected_orders = document.querySelectorAll('.orderi'),
                order_list = []
            for (let a = 0; a < selected_orders.length; a++) {
                if (selected_orders[a].querySelector('.card-header input').checked)
                    order_list.push(selected_orders[a].querySelector('span.widget-49-date-day').innerHTML)
            }
            console.log(order_list)
            data = {
                'status': statuses[i].getAttribute('data-target')
            }
            for (let b = 0; b < order_list.length; b++) {
                data['order_' + order_list[b]] = order_list[b]
            }
            $.ajax({
                type: "POST",
                url: '/order/change/status',
                dataType: 'jsonp',
                data: data,
                // success: function(response) {
                //     console.log(response)
                // }
            });
        })
    }
</script>
<script>
    let change_statsu_btn = document.querySelectorAll('.changeStatus')
    for (let i = 0; i < change_statsu_btn.length; i++) {
        change_statsu_btn[i].addEventListener('click', () => {
            let change_status = `<div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Buyurtma statusi</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class='close_model' aria-hidden="true">×</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <div class="attribute-form">

                                    <input type="hidden" name="csrfmiddlewaretoken" value="GfFJV1KnoBdp6vYpxU5mjmxYjswO1wy0lJMKTrLiq8zFovqpUxibxXSgN6tRX7WG">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="change_status" value="1">
                                                <input type="hidden" name="order" value="">
                                                <div class="form-group field-updateform-status required">
                                                    <label class="control-label" for="updateform-status">Holati</label>
                                                    <select id="status2" class="form-control " name="UpdateForm[status]" aria-required="true">
                                                        <option value="0">Statusni tanlang ...</option>
                                                        <option value="1">Yangi</option>
                                                        <option value="2">Qabul qilindi</option>
                                                        <option value="3">Yetkazilmoqda</option>
                                                        <option value="4">Yetqazib berildi</option>
                                                        <option value="5">Qaytib kelgan</option>
                                                        <option value="6">Keyin Oladi</option>
                                                        <option value="7">Qayta Qongiroq</option>
                                                        <option value="8">Arxiv</option>
                                                        <option value="9">Dubl</option>
                                                        <option value="10">Ban</option>
                                                    </select>
                                                    <br>
                                                    <div class="col-md-6">
                                                        <label class="control-label" for="updateform-status">Operator ID</label>
                                                        <input type="number" id="operator" placeholder="Operator ID" value="0" name="operator" class="form-control" required=""><br>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <button type="submit" id="statussend" class="btn btn-success statussend">Yuborish</button> </div>
                                                    </div>

                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>`
                // console.log(change_status)
            let body = document.querySelector('body'),
                modal_backdrop = document.createElement('div'),
                model = document.createElement('div')
            modal_backdrop.setAttribute('class', 'modal-backdrop fade show')
            model.innerHTML = change_status
            model.style.width = '50%'
            model.style.margin = '50px 25%'
            model.querySelector('input[name="order"]').value = change_statsu_btn[i].getAttribute('data-id')
            modal_backdrop.style.backgroundColor = 'rgba(0, 0, 0, .5)'
            modal_backdrop.style.opacity = '1'
            modal_backdrop.appendChild(model)
            body.appendChild(modal_backdrop)
            close_model(modal_backdrop, modal_backdrop.querySelector('.close_model'))
        })

        function close_model(model, btn) {
            btn.addEventListener('click', () => {
                console.log(model)
                model.remove()
            })
        }
    }
</script>
<script>
    let change_model_btn = document.querySelectorAll('.openReq')
    for (let i = 0; i < change_model_btn.length; i++) {
        change_model_btn[i].addEventListener('click', () => {
            let change_model = `
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Buyurtma</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class='close_model'>×</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <div class="attribute-form">
                            <form action='/users/control/reqs/change/order' method='post'>
                            {% csrf_token %}
                            <input type='hidden' name='order' value=''>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="hidden" id="prid" value="26727">
                                    <div class="form-group field-updateform-country required">
                                        <label class="control-label" for="updateform-country">Viloyat</label>
                                        <select id="viloyat" class="form-control" name="viloyat" loading="disable" aria-required="true">
                                            <option value="">Viloyatni tanlang ...</option>
                                            <option value="Toshkent">Toshkent</option>
                                            <option value="Toshkent viloyati">Toshkent viloyati</option>
                                            <option value="Buxoro">Buxoro</option>
                                            <option value="Navoiy">Navoiy</option>
                                            <option value="Samarqand">Samarqand</option>
                                            <option value="Jizzax">Jizzax</option>
                                            <option value="Andijon">Andijon</option>
                                            <option value="Farg'ona">Farg'ona</option>
                                            <option value="Namangan">Namangan</option>
                                            <option value="Sirdaryo">Sirdaryo</option>
                                            <option value="Qoraqalpog'iston">Qoraqalpo'iston</option>
                                            <option value="Xorazm">Xorazm</option>
                                            <option value="Qashqadaryo">Qashqadaryo</option>
                                            <option value="Surxondaryo">Surxondaryo</option>
                                        </select>

                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group field-updateform-status required">
                                        <label class="control-label" for="updateform-status">Holati</label>
                                        <select id="holat" class="form-control " name="UpdateForm[status]" aria-required="true">
                                            <option value="">Statusni tanlang ...</option>
                                            <option value="1">Yangi</option>
                                            <option value="2">Qabul qilindi</option>
                                            <option value="3">Yetkazilmoqda</option>
                                            <option value="4">Yetqazib berildi</option>
                                            <option value="5">Qaytib kelgan</option>
                                            <option value="6">Keyin Oladi</option>
                                            <option value="7">Qayta Qongiroq</option>
                                            <option value="8">Arxiv</option>
                                            <option value="9">Dubl</option>
                                            <option value="10">Ban</option>
                                        </select>

                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                {% if super_user == True %}
                                <div class="col-md-12">
                                    <div class="form-group field-updateform-status required">
                                        <label class="control-label" for="updateform-status">Admin</label>
                                        <select id="Admin" class="form-control " name="UpdateForm[admin]" aria-required="true">
                                            {% for el in admin_list %}
                                            <option value="{{el.id}}">{{el}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                {% endif %}
                                <div class="col-md-12">
                                    <div class="form-group field-updateform-take_time" style="display: none;">
                                        <label class="control-label" for="updateform-take_time">Olish vaqti</label>
                                        <div id="updateform-take_time-kvdate" class="input-group  date"><span class="input-group-addon kv-date-picker" title="Select date"><i class="glyphicon glyphicon-calendar kv-dp-icon"></i></span><span class="input-group-addon kv-date-remove" title="Clear field"><i class="glyphicon glyphicon-remove kv-dp-icon"></i></span>
                                            <input
                                                type="text" id="updateform-take_time" class="form-control krajee-datepicker" name="UpdateForm[take_time]" placeholder="Olish vaqtini belgilang ..." data-datepicker-source="updateform-take_time-kvdate" data-datepicker-type="2"
                                                data-krajee-kvdatepicker="kvDatepicker_d0c65a98"></div>

                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group field-updateform-count required">
                                        <label class="control-label" for="updateform-count">Soni</label>
                                        <input type="number" id="soni" placeholder="Sonini kiriting" name="quant" class="form-control" required="">

                                        <div class="help-block"></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group field-updateform-count required">
                                        <label class="control-label" for="updateform-count">Summa</label>
                                        <input type="number" id="summasi" placeholder="Summani yozing" value="" name="summa" class="form-control" required="">

                                        <div class="help-block"></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group field-updateform-comment required">
                                        <label class="control-label" for="updateform-comment">Qo'shimcha ma'lumot</label>
                                        <textarea id="malumot" class="form-control" name="UpdateForm[comment]" aria-required="true"></textarea>

                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" id="reqsend" class="btn btn-success reqsend">Yuborish</button> </div>
                                </div>


                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>`
            let body = document.querySelector('body'),
                modal_backdrop = document.createElement('div'),
                model = document.createElement('div')
            modal_backdrop.setAttribute('class', 'modal-backdrop fade show')
            model.innerHTML = change_model
            model.querySelector('input[name="order"]').value = change_model_btn[i].getAttribute('data-id')
            modal_backdrop.style.backgroundColor = 'rgba(0, 0, 0, .5)'
            modal_backdrop.style.opacity = '1'
            modal_backdrop.appendChild(model)
            body.appendChild(modal_backdrop)
            close_model(modal_backdrop, modal_backdrop.querySelector('.close_model'))
        })

        function close_model(model, btn) {
            btn.addEventListener('click', () => {
                model.remove()
            })
        }
    }
</script>
{% endblock %}